body {
    margin: 0;
    background: rgb(0,148,255);
    background: linear-gradient(180deg, rgba(0,148,255,1) 0%, rgba(116,232,255,1) 75%);
}

.loading {
    line-height: 1;
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.container {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    text-align: center;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: white;
}

.title {
    font-size: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vbuckIcon{
    height: 40px;
}

.shopTab {
    font-size: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.shopEntry {
    height: 200px;
    /* border: 5px solid black; */
    background: rgb(0,73,73);
    background: linear-gradient(180deg, rgba(0,73,73,1) 0%, rgba(150,150,150,1) 95%);
    margin-left: 10px;
}